<% include header %>
<% include navbar %>
<div id="container">
  <div id='index-grid'>
    <h1>Employee Management System</h1>
    <p>Welcome to the employee management system, also known as EMS.
       This application is tracking our current employees. Use of this system
       is only for authorized system administrators only.
    </p>
    <p>Please use the above navigation to view or enter employee information.</p>
  </div>
  <div>
    <p class="flag"><%= message %></p>
  </div>
</div>
<% include scripts %>
<% include footer %>
