<!-- include our header -->
<% include header %>
  <div role="main" class="container">
    <div id='grid-1'>
      <div class="item-1">
        <!-- call in our express var -->
        <p>Welcome to the <%= message %></p>
      </div>
      <div class="item-2">
        <p><%= messageTwo %></p>
      </div>
    </div>
  </div>
  <!-- include our footer -->
<% include footer %>
